<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Bits</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/star-rating.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header class="bg-dark d-flex flex-row justify-content-between">
    <nav class="navbar navbar-primary p-3 w-100 d-flex flex-row container">
      <div class="row">
          <a class="btn-link display-1 col-xs-12 justify-content-sm-center" href="/"><strong>Book Bits</strong></a>

        {{#if loggedIn}}
          <ul class="nav navbar-nav d-flex flex-row justify-content-end">
            <li class="nav-item p-2">
              <a class="nav-link btn-link" href="/dashboard">My Reviews</a>
            </li>
            <li class="nav-item p-2">
              <button id="logout" class="btn btn-primary btn-no-style">Logout</button>
            </li>
          </ul>
        {{/if}}

      </div>

    </nav>
  </header>

  <main>
    {{{ body }}}
  </main>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
<script rel="stylesheet" src="https://kit.fontawesome.com/372064985b.js" crossorigin="anonymous"></script>
</body>
</html>