<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Bits</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Book Bits</a>
      </h1>

        <nav>
          {{!-- remove search container if we run out of time --}}
          <div class="search-container">
              <form action="/search_page">
              <input type="text" placeholder="Search.." name="search">
              <button id="searchBtn" type="submit"><i class="fa fa-search"></i></button>
              </form>
          </div>
          {{#if loggedIn}}
          <a href="/dashboard">My Posts</a>
          <a href="/saved">Saved Posts</a>

          <button id="logout" class="btn-no-style">logout</button>
          {{/if}}
        </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

  </div>
</body>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</html>