<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Bits</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Book Bits</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/myposts">My Posts</a>
        <a href="/saved">Saved Posts</a>
        <div class="search-container">
            <form action="/search_page">
            <input type="text" placeholder="Search.." name="search">
            <button id="searchBtn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>

  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>