<section class="card m-3">
    <h2 class="card-header">Submit New Review</h2>

    <form class="card-body new-review-form">
        <div>
            <label class="form-label mb-3" for="review-title">Title:</label>
            <input class="form-control mb-3" type="text" id="review-title" name="review-title" />
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" id="author" name="author" />
        </div>
        <div>
            <label for="star_rating">Star Rating</label>
            <input type="number" id="star_rating" name="star_rating" placeholder="1-5" />
        </div>
        <div>
            <label class="form-label mb-3" for="review">Review:</label>
            <textarea class="form-control mb-3" id="review" name="review" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Create</button>
    </form>
</section>

{{#if reviews.length}}
<section>
    <h2> Your Reviews</h2>
    <ol>
        {{#each reviews as |review|}}
        <li>
            {{> card review}}
            <a href="/dashboard/edit/{{review.id}}" class="edit-link">Edit review</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-review.js"></script>