{{> card review}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
<<<<<<< HEAD
    {{> star-review }}
=======
>>>>>>> feature/views
  </div>
</form>
{{/if}}


{{> comments review.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/star-review.js"></script>
{{/if}}