* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  text-decoration: none;
  color: white;
}

.nav-link {
  color: white;
}

#review-card {
  text-decoration: none;
  color: black;
}
